/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lantinghei SC","Microsoft JhengHei","HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
}

.wrapper{
	width:960px;
	min-width:960px;
	height:1800px;
	background-color: rgba(#999, 0.2);
	margin:0 auto;
	padding: 10px;

}

.description{
	width: 600px;
	margin: 0 60px;
}

.photo{
	height: 880px;
}

.photo1{
	height: 400px;
	width: 400px;
	background: url('../image/turtle_01.jpg');
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	float: left;
}

.photo2{
	height: 400px;
	width: 400px;
	background: url('../image/turtle_02.jpg');
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	float: left;
}

.photo3{
	height: 400px;
	width: 400px;
	background: url('../image/turtle_03.jpg');
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	float: left;
}

.photo4{
	height: 400px;
	width: 400px;
	background: url('../image/turtle_04.jpg');
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
	float: left;
}

.share{
	width:400px;
	height: 60px;
	margin:0 auto;
	text-align: center;
}

a:link{
	color: white;
	font-size: 22px;
	padding:10px;
	background-color:rgba(#34CB99, 0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
	text-decoration: none;
}

a:hover{
	font-size: 22px;
	padding:10px;
	background-color:rgba(#34CB99, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
	transition: 0.3s;
}
