/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: none;
}

/* line 32, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color:rgba(0, 25, 9 ,1 );
  font-family: "Lantinghei SC","Microsoft JhengHei","HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
}

/* line 15, ../sass/screen.scss */


.wrapper {
  width: 960px;
  min-width: 960px;
  height: auto;
  min-height: 100%;
  background-color: white;
  margin: 0 auto -35px auto;
  
}

.banner{
  width: 940px;
  height: 30px;
  background-color: rgba(163, 163, 163, 0.8);
  padding: 10px;

}


/* line 25, ../sass/screen.scss */
.description {
  width: 940px;
  height: auto;
  margin: 10px auto;
  padding: 0;
}

h1{
  font-size: 20pt;
  line-height: 1.2;

}

h2{
  font-size: 16pt;
  line-height: 1.2;

}

h3{
  font-size: 16pt;
  text-align: center;
  margin-top:30px; 
}

p{
  font-size: 14pt;
  line-height: 1.2;


}
/* line 30, ../sass/screen.scss */
.photo {
  height: 1380px;
  width: 890px;
  margin: 30px auto;
  padding-top:20px;
  padding-bottom: 20px; 
  padding-left:60px; 
  box-shadow: 0px -5px 5px rgba(20%,20%,40%,0.1), 0px 5px 5px rgba(20%,20%,40%,0.1);
}

/* line 34, ../sass/screen.scss */
.photo1 {
  height: 400px;
  width: 400px;
  background-image: url("/assets/turtle_01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  float: left;
}

/* line 45, ../sass/screen.scss */
.photo2 {
   height: 400px;
  width: 400px;
  background-image: url("/assets/turtle_02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  float: left;
}

/* line 56, ../sass/screen.scss */
.photo3 {
  height: 400px;
  width: 400px;
  background-image: url("/assets/turtle_03.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px; 
  float: left;
}

/* line 67, ../sass/screen.scss */
.photo4 {
  height: 400px;
  width: 400px;

  background-image: url("/assets/turtle_04.JPG");

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  float: left;
}

.video{
  width:820px;
  height:540px;
  margin-left:10px;
}

/* line 78, ../sass/screen.scss */
.share {
  width: 400px;
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

/* line 85, ../sass/screen.scss */
a:link {
  /*color: white;*/
  font-size: 22px;
  padding: 10px;
  background-color: rgba(0, 203, 153, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  box-shadow: 0px -2px 1px rgba(20%,20%,40%,0.5) inset;

}


/* line 97, ../sass/screen.scss */
a:hover {
  font-size: 22px;
  padding: 10px;
  background-color: rgba(52, 203, 153, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  transition: 0.8s;
  text-shadow: 2px 2px rgba(20%,20%,40%,0.1);
  box-shadow: 0px -2px 1px rgba(20%,20%,40%,0.5) ;
}

.footer{
  height: 20px;
  width: 960px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(163, 163, 163, 0.8);

}
