		<div class="description">
			<h2>關於龜龜日記
			</h2><br>
			<p >身為一個宅男工程師，<br>
				平日的興趣不外乎就是動漫、寫程式和上網科科。<br>
				不過在今年七月中旬的時候，<br>
				因為晚上寫程式煩悶遊走在台北市區，<br>忽然眼睛一亮發現了一家專賣爬蟲的寵物店，<br>這喚起了我心中的飼養魂！<br>
				還記得當時在爬寵店待了好一段時間，<br>
				看著每隻陸龜走路、吃葉子，<br>
				那樣的動作真是深深吸引著我，<br>
				心想：「怎會有這麼優美的生物呀！」回家之後，<br>
				開始上網搜尋許多關於陸龜的相關資訊，<br>
				包含餵食、泡水、加熱和曬太陽等等，<br>
				原來要把一隻陸龜養好可說是一大學問。<br>
				發揮宅男的研究精神，<br>
				研究完這些資料之後，<br>
				決心自己也要養陸龜，<br>
				想飼養這麼優美的一種動物。<br>結果就這樣開始養了第一隻陸龜（蘇卡達 菠蘿），<br>
				然後第二隻、第三隻和第四隻，<br>
				不知不覺的我中了龜毒呀～～～<br>
				在飼養的過程中常常會逛一些論壇或是其他網友在臉書上分享自己的飼養經驗和環境。<br>
				我覺得我應該可以發揮我工程師的本能，<br>
				做一個網站分享我的龜龜們（握拳）！<br>
				於是，這網站就是這樣來的，<br>
				請大家多多支持互相交流，<br>
				希望可以有更多的人加入養龜龜的行列！</p><br><br>
			<img src="/assets/turtle_05.jpg" class="img-thumbnail">
		</div><br><br><br>