<div class="description  col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<h2>環境介紹：點點的家（底土篇）
		</h2>
		<h2>龜名：點點
		</h2>
		<h2>龜重：132 g
		</h2>
		<h2>龜長：腹甲最短距離 8.5 cm</h2><br>
</div><!-- description -->
<div class="photo_pool col-12 clearfix">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>
		我個人認為，土養是布置的一大重點，所以還是選擇土養。最一開始的時候我選擇了赤玉土作為底才的基本元素，因為排水性比較佳，且比起其他土較不易滋生小蟲。
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/pool_04.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>赤玉土對於點點來說可能又太過乾燥。所以我加入了比較容易保溼的泥碳土，且泥碳土可以種一些花花草草，想模擬叢林的底層環境，可能有些小草，也應該可以比較潮溼。
	</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/pool_02.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
		<p>
		最後，我為了保溼，所以加入了樹皮。而且我覺得鋪滿樹皮，讓整個環境更有在叢林底層的感覺。</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/pool_03.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>所以若用這些土舖成的結果，會希望是長成像這個樣子：</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/pool_05.jpg" class="img-thumbnail">
		<p>未完待續......</p>
	</div>
</div>
	<% Comment.find(:all, :conditions => { :turtle_id => params[:turtle_id]}).each do |comment| %>
<div class="respond">
	<div class="name">
	<%= comment.name %><br>
	</div>
	<%= comment.description %>
	<div class="time">
	<%= comment.created_at.strftime("%F %r") %>
	</div>
</div>
	<% end %>
<div>
	<%= render 'comment/form' %>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 up"><a href="/reddot?turtle_id=3">上一篇</a></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 down"><a href="/pool_02?turtle_id=5">下一篇</a></div>