
<div class="article_box row">
<h2>新增龜龜日記</h2><br>
	<div class="row article_in col-sm-6 center-block">	
		<h2>文章標題</h2>
		<!-- 這邊放文章標題輸入格 -->
		<input type="text" class="form-control col-sm-6" placeholder="請輸入文章標題">
	</div>
	<div class="row article_in col-sm-6 center-block">	
		<h2>文章分類</h2>
		<!-- 這邊放文章分類下拉式選單：龜龜介紹、龜龜飼料、養龜環境 -->
	</div>
	<div class=" row article_in col-sm-6 center-block">	
		<h2>文章封面圖片</h2>
		<img src="#" width="100px" height="100px">
		<!-- 圖片預覽 -->
	</div>
	<div class="row">
		<button class="btn btn-default pull-left">選擇檔案上傳</button>
		<!-- 這邊放上傳檔案的功能 -->
	</div>
	
	<div class=" row article_in col-sm-6 center-block">	
		<h2>龜龜基本資料</h2>
		<!-- 弱沒有填寫則不顯示 -->
		<ol>
			<li>1龜種：</li>
			<li>本重：</li>
			<li>龜長：</li>
			<li>龜齡：</li>
		</ol>
	</div>
	
	<div class="explainer row center-block">	

		<h2>編輯器說明：由左向右的功能鍵說明</h2>

		<ol>
			<li>1. 段落化，可以將多段落合併成單一段落，若有字體不一表示在段落之外，請再合併一次</li>
			<li>2. 超連結，給予文字超連結</li>
			<li>3. 無編號列表</li>
			<li>4. 有編號列表</li>
			<li>5. 新增一張圖片，請記得在新的一行新增，若新增完不滿意可刪除</li>
			<li>6. 新增一個商品摘要，請記得在新的一行新增，若新增完不滿意可刪除</li>
			<li>7. 圖片或商品摘要新增完，切勿調整其內容或更改位置，請刪除後再重新新增</li>
		</ol>
		
	</div>
	<div div class=" row article_in col-sm-6 center-block">
		<h2>內容</h2>
		<!-- 這邊放文字編輯器 -->
	</div>
	<div div class=" row article_in col-sm-6 center-block">
		<h2>標籤說明：可以tag何種烏龜品種、文章類型或是任何關鍵字，方便更多人看到你的分享喔！</h2>
	</div>
	<div class=" row article_in col-sm-6 center-block">
		<h2>發佈狀態</h2>
		<!-- 這邊放選單：公開、隱藏、草稿 -->
	</div>
</div>