<html>
<head>
	<title>蘇卡達陸龜</title>
	 <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
</head>
<body>
	<div class="background">
	<div class="wrapper">
		<div class="banner">
			<h1>我的龜龜日記</h1>
		</div>
		<div class="description">
			<h2>龜龜品種：蘇卡達陸龜
			</h2>
			<h2>龜龜重量：122 g
			</h2>
			<h2>龜龜長度：腹甲最短距離 7.2 cm</h2><br>
			<p>這是我的蘇卡達陸龜，菠蘿。因為外型長得很像波蘿麵包所以就叫做菠蘿啦～養了三個多月，122g，<br>7.2cm左右。想當初剛入手的時候只有70幾克，5cm左右，真是以神速長大呀！今天第一次餵乖乖，<br>真的是超愛！以後要多記錄跟大家分享，也希望菠蘿能平平安安的長大！！！
			</p>
		</div>
		<div class="photo">
			<div class="photo1">
			</div>
			<div class="photo2">
			</div>
			<div class="photo3">
			</div>
			<div class="photo4">
			</div>
		
			<iframe class="youtube-player video" type="text/html" src="http://www.youtube.com/embed/Ux1ZAYH8DM4"></iframe><br><br><br><br>
		</div>
		<div class="share"><a href="./sell_count.html">我也要分享我的寵物</a></div>
	</div>
	<div class="footer">
		Tortoise Diary</div>
	</div>


	
</body>
</html>