<html>
<head>
	<title>蘇卡達陸龜</title>
	 <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner">
			<h1>我的龜龜日記</h1>
		</div>
		<div class="description">
			<h3>龜龜日記很快就會與您相見囉！
			</h3>
		</div>
		<div class="share"><a href="./sell_count.html">我也要分享我的寵物</a></div>
	</div>
	<div class="footer">
		Tortoise Diary</div>
</body>
</html>