<html>
<head>
	<title>蘇卡達陸龜</title>
	 <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
</head>
<body>
	<div class="wrapper">
		<div class="description">
			<h1>品種：蘇卡達陸龜
			</h1>
			<h1>重量：122 g
			</h1>
			<h2>長度：腹甲最短距離 7.2 cm，由於家裡因素到台北念書，台北租屋處較不方便，但在家又沒人可以幫我照顧，於是想要售出。烏龜買了兩個月，我都很細心在照顧，健康狀況良好，無須擔心。
			</h2>
		</div>
			<div class="photo">
			<div class="photo1">
			</div>
			<div class="photo2">
			</div>
			<div class="photo3">
			</div>
			<div class="photo4">
			</div>
		</div>
			<iframe class="youtube-player" type="text/html" width="880" height="540" src="http://www.youtube.com/embed/Ux1ZAYH8DM4"></iframe><br><br><br><br>
		<div class="share"><a href="./sell_count.html">我也要分享我的寵物</a></div>
	</div>



	
</body>
</html>