<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<div class="row row_space">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/reddot_and_sun?turtle_id=10"><div class="board_border">
	<img src="./assets/reddot_and_sun01.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">點點踏青</h2>
		<ol>
		<li>飼養分享</li>
		<li>品種：櫻桃紅腿</li>
		<li>龜齡：未知</li>
		<li>時間：2013/11/25</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/redearturtle?turtleid=9"><div class="board_border">
	<img src="./assets/redear05.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">巴西龜之阿呆與阿瓜</h2>
		<ol>
		<li>烏龜介紹</li>
		<li>品種：巴西烏龜</li>
		<li>龜齡：3歲</li>
		<li>時間：2013/11/22</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/sulcata_and_sun?turtle_id=8"><div class="board_border">
	<img src="./assets/turtle08_1.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">蘇卡達和陽光</h2>
		<ol>
		<li>分類：飼養分享</li>
		<li>時間：2013/11/19</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/show_02?turtle_id=7"><div class="board_border">
	<img src="./assets/show_09.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">寵物用品展（下）</h2>
		<ol>
		<li>分類：展覽</li>
		<li>時間：2013/11/13</li>
		</ol>
	</div></a>
</div>
</div>
<div class="row row_space">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/show_01?turtle_id=6"><div class="board_border">
	<img src="./assets/show_04.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">寵物用品展（上）</h2>
		<ol>
		<li>分類：展覽</li>
		<li>時間：2013/11/11</li>
		</ol>
	</div></a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/pool_02?turtle_id=5"><div class="board_border">
	<img src="./assets/pool_07.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">點點的家（植物篇）</h2>
		<ol>
		<li>分類：環境介紹</li>
		<li>時間：2013/11/08</li>
		</ol>
	</div></a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/pool_01?turtle_id=4"><div class="board_border">
	<img src="./assets/pool_01.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">點點的家（底土篇）</h2>
		<ol>
		<li>分類：環境介紹</li>
		<li>時間：2013/11/06</li>
		</ol>
	</div></a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/reddot?turtle_id=3"><div class="board_border">
	<img src="./assets/cherry_02.jpg" class="img-thumbnail img_padding center-block">
	<h2 class="text-center">點點</h2>
		<ol>
		<li>分類：烏龜介紹</li>
		<li>品種：櫻桃紅腿龜</li>
		<li>龜齡：未知</li>
		<li>時間：2013/10/31</li>
		</ol>
	</div></a>
</div>
</div>
<div class="row row_space">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/leopard?turtle_id=2"><div class="board_border">
	<img src="./assets/leopard_03.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">阿豹</h2>
		<ol>
		<li>分類：烏龜介紹</li>
		<li>品種：豹龜</li>
		<li>龜齡：7個月</li>
		<li>時間：2013/10/27</li>
		</ol>
	</div></a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/sulcata?turtle_id=1"><div class="board_border">
	<img src="./assets/turtle_01.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">菠蘿</h2>
		<ol>
		<li>分類：烏龜介紹</li>
		<li>品種：蘇卡達龜</li>
		<li>龜齡：8個月</li>
		<li>時間：2013/10/20</li>
		</ol>
	</div></a>
</div>
</div>


