<div class="row row_space">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/sulcata"><div class="board_border">
	<img src="./assets/turtle_01.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">菠蘿</h2>
		<ol>
		<li>品種：蘇卡達龜</li>
		<li>龜齡：8個月</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/leopard"><div class="board_border">
	<img src="./assets/leopard_03.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">阿豹</h2>
		<ol>
		<li>品種：豹龜</li>
		<li>龜齡：7個月</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/reddot"><div class="board_border">
	<img src="./assets/cherry_02.jpg" class="img-thumbnail img_padding center-block">
	<h2 class="text-center">點點</h2>
		<ol>
		<li>品種：櫻桃紅腿龜</li>
		<li>龜齡：未知</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="#"><div class="board_border">
	<img src="./assets/pool_01.jpg" class="img-thumbnail img_padding">
	<h2 class="text-center">養龜環境</h2>
		<ol>
		<li>品種：櫻桃紅腿龜</li>
		<li>龜齡：未知</li>
		</ol>
	</div></a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pin_space">
	<a href="/share" ><div class="board_border">
	<img src="./assets/photo.jpeg" class="img-thumbnail img_padding">
	<h2 class="text-center">Coming Soon...</h2>
	</div></a>
</div>

</div>