<div class="description">
	<h2>陸龜app
	</h2>
	<br>
	<p>由於對於陸龜的熱愛，所以建立了龜龜日記來分享我的龜龜生活。不過在建置這個app的同時，作為一個使用者的考量，我發現除了寫程式之外的時間，幾乎很少有機會碰到電腦。現在幾乎上網都被平板或是手機取代，因為自己的方便，我規劃了app的建置，希望可以讓操作更加的便利。不過我本身只擅長寫iOS，所以Android的使用者抱歉了，QQ。若未來這個app或是網站真的受到大家喜愛和重視的時候，我會再請人把Android開發出來的～請大家多多指教囉！
	</p>
</div><br><br><br>