<div class="description  col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<h2>寵物用品展
		</h2>
</div><!-- description -->
<div class="photo_pool col-12 clearfix">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>11/8雖然已經11月了，<br>但今天還是炎熱的一天，<br>
			前幾天看到網路上粉絲頁都在宣傳可愛動物用品展，<br>
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_01.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>這次展覽沒有拿到特別的票，所以只好用學生票囉～
	</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_02.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 ">
		<p>進入展場之後就職直殺水手囉！為的就是要看「巨獸」們 XD
	</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_03.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>看到的第一隻，<br>
			也是印象最深刻的一隻是這個白色蘇卡達！<br>
			我覺得他的白已經是偏黃金色的，<br>
			而不是一般白子，<br>
			實在是很有霸氣！</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_04.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>白子蘇卡達下一站就是「巨獸」了呀！！！<br>
			我家的小菠蘿可能都比這隻的頭還小，<br>
			這讓我倒抽了一口氣，<br>
			有一天菠蘿也會變成這樣呀～<br>
			真是既期待又怕受傷害！</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_05.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>在看展的時候，<br>
			還有捕捉到小朋友餵食的有趣畫面。<br>
			看的大蘇卡達吃的津津有味，<br>
			對這些小朋友們應該也是個難忘的回憶吧～</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_06.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>除了蘇卡達以外還有阿達，<br>
			豹龜其他大型陸龜。<br>
			我真的很喜歡豹龜這種高圓又花紋很美的龜種，<br>
			但只可惜我的阿豹因為我的經驗不夠而先走了QQ</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_07.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>阿達也是我的養龜清單之一，<br>
			高圓的背加上巨無霸的體型，<br>
			實在是每個養龜人限定一定要入手的龜龜阿！<br>
			只好努力存錢，<br>
			趕快養一隻，<br>
			這種龜實在可說是極品（握拳）！</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_08.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>未完待續...</p>
	</div>

</div>
<div>
	<%= render 'comment/form' %>
</div>
	<% Comment.find(:all, :conditions => { :turtle_id => params[:turtle_id]}).each do |comment| %>
	<%= comment.name %>
	<%= comment.description %>
	<% end %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 up"><a href="/pool_02?turtle_id=6">上一篇</a></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 down"><a href="http://loveturtle.herokuapp.com/">下一篇</a></div>