<div style="display:none" id="pop">
<img class="fancybox" src="/assets/pop2.png" />
</div>
<body onload="pop_up();">
<div class="description  col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<h2>蘇卡達和陽光
		</h2>
</div><!-- description -->
<div class="photo_pool col-12 clearfix">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>養大型龜的人都知道，其實鈣的攝取和陽光的照射對於龜龜的成長有著密不可分的關係。或是我們也可以說，龜龜是否可以長得健康而且不會隆背也跟這兩個因素息息相關。<br>
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_09.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>最近我們家菠蘿開始在驅蟲之後，開始不斷的冒出生長紋了，是一件令人雀躍的事情，但同時我也有著另一份擔憂。
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_10.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 ">
		<p>從之前的120g左右，到現在的147g接近150，開始往巨型龜的路邁進！但是，這樣不斷的成長，同時也意味著如果沒多曬太陽，沒有攝取適當的鈣，是會長得不好的 QQ
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_11.jpg" class="img-thumbnail">
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>如果是健康成長的，他的殼應該不會像現在這樣翹翹的，如果鈣質是足夠的話，是可以把整個殼都撐起來的。
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_12.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
		<p>如果不幸長成這個樣子：就不太好了！
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
		<img src="/assets/show_13.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
		<p>但其實隆背也不單單只是鈣攝取和太陽照射兩項而已，還有飲食方面的問題也很重要，不過飲食應該就以後再談吧～ 養蘇卡達還真是要趁這樣陽光普照的好天氣多出來晒晒，讓龜殼長得更健康，也讓我家菠蘿可以活得更長久才是！
		</p>
	</div>
</div>

<div>
	<%= render 'comment/form' %>
</div>
	<% Comment.find(:all, :conditions => { :turtle_id => params[:turtle_id]}).each do |comment| %>
<div class="row row_respond">
<div class="respond col-xs-8 col-sm-8 col-md-6 col-lg-6">
	<div class="name">
	<%= comment.name %><br>
	</div>
	<%= comment.description %>
	<div class="time">
	<%= comment.created_at.strftime("%F %r") %>
	</div>
</div>
</div>

	<% end %>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 up"><a href="/show_02?turtle_id=7">上一篇</a></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 down"><a href="http://loveturtle.herokuapp.com/">下一篇</a></div>
</body>
<script type="text/javascript">
		$("#pop").fancybox();
		function pop_up(){
			$("#pop").click();
		}
</script>