<div class="description  col-xs-12 col-sm-12 col-md-9 col-lg-9">
	<h2>龜龜品種：蘇卡達陸龜
	</h2>
	<h2>龜名：菠蘿
	</h2>
	<h2>龜重：122 g
	</h2>
	<h2>龜長：腹甲最短距離 7.2 cm</h2><br>
</div><!-- description -->
<div class="photo col-12 clearfix">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/turtle_04.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>這是我的蘇卡達陸龜，菠蘿。因為外型長得很像波蘿麵包所以就叫做菠蘿啦～</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/turtle_02.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>養了三個多月，122g，7.2cm左右。</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/turtle_01.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
		<p>想當初剛入手的時候只有70幾克，5cm左右，真是以神速長大呀！</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/turtle_03.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>今天第一次餵乖乖，真的是超愛！以後要多記錄跟大家分享，也希望菠蘿能平平安安的長大！！！</p>
	</div>
</div>
<div class="respond">
	<% Comment.find(:all, :conditions => { :turtle_id => params[:turtle_id]}).each do |comment| %>
	<div class="name">
	<%= comment.name %><br>
	</div>
	<%= comment.description %>
	<div class="time">
	<%= comment.created_at.strftime("%F %r") %>
	</div>
	<% end %>
</div>
<div>
	<%= render 'comment/form' %>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 down"><a href="/leopard?turtle_id=2">下一篇</a></div>