<div class="description  col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<h2>龜龜品種：櫻桃紅腿龜
		</h2>
		<h2>龜名：點點
		</h2>
		<h2>龜重：132 g
		</h2>
		<h2>龜長：腹甲最短距離 8.5 cm</h2><br>
</div><!-- description -->
<div class="photo col-12 clearfix">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/cherry_02.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>我的櫻桃紅腿名叫「點點」，因為腳上長滿了一點一點紅色的點點，所以就取名為「點點」。點點剛來家裡的時候體重有點輕，不過當他喝完水之後好像又多了好幾克，頓時就有陸龜應該有的厚重的感覺了 XD </p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/cherry_01.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>點點的家有特殊的布置，當初在看櫻桃紅腿的資料時，發現牠們是住在叢林底層的陸龜，而且需要很潮溼的環境，所以給了他一個大水盆，而在土的部分也給他比較濕的土加上一些樹皮。不過在布置的時候，感覺還是沒有叢林的樣子，所以就灑了很多菜的種子，想說這樣長出來應該就會想叢林了吧！</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/cherry_03.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
		<p>
		櫻桃紅腿真的是一種脫離不了水的龜，每天除了會去水盆找水喝之外，在泡水的時候也會多喝幾口水。感覺好像隨時都需要水一樣。</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/cherry_04.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>點點在泡水的時候，順便會做日光浴，希望可以補足很少曬太陽的缺憾。因為住在北部，且是比較偏濕冷的地方，現在這個季節幾乎都沒有太陽，實在很可惜。</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/assets/pool_01.jpg" class="img-thumbnail">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<p>最後來一張全景的環境圖。下次再寫一篇，環境如何布置的說明跟大家分享 :D</p>
	</div>
</div>
<div>
	<%= render 'comment/form' %>
</div>
	<% Comment.find(:all, :conditions => { :turtle_id => params[:turtle_id]}).each do |comment| %>
<div class="row row_respond">
<div class="respond col-xs-8 col-sm-8 col-md-6 col-lg-6">
	<div class="name">
	<%= comment.name %><br>
	</div>
	<%= comment.description %>
	<div class="time">
	<%= comment.created_at.strftime("%F %r") %>
	</div>
</div>
</div>

	<% end %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 up"><a href="/leopard?turtle_id=2">上一篇</a></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 down"><a href="/pool_01?turtle_id=4">下一篇</a></div>